<h1>Editing oil_type</h1>

<%= error_messages_for :oil_type %>

<% form_for(@oil_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @oil_type %> |
<%= link_to 'Back', oil_types_path %>
