<h1>Listing gas_vendors</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for gas_vendor in @gas_vendors %>
  <tr>
    <td><%=h gas_vendor.name %></td>
    <td><%= link_to 'Show', gas_vendor %></td>
    <td><%= link_to 'Edit', edit_gas_vendor_path(gas_vendor) %></td>
    <td><%= link_to 'Destroy', gas_vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gas_vendor', new_gas_vendor_path %>
