<h1>New car</h1>

<%= error_messages_for :car %>

<% form_for(@car) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Make</b><br />
    <%= f.text_field :make %>
  </p>

  <p>
    <b>Model</b><br />
    <%= f.text_field :model %>
  </p>

  <p>
    <b>Year</b><br />
    <%= f.text_field :year %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cars_path %>
