<h1><%= title %></h1>

<%= error_messages_for :oil_record %>
<% form_for(@oil_record) do |f| %>
  <p>
    <b>Quarts</b><br />
    <%= f.text_field :quarts %>
  </p>

  <p>
    <b>Odometer reading</b><br />
    <%= f.text_field :odometer_reading %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
  <b>Oil type</b><br />
  <%= select( "oil_record", "oil_type_id", OilType.find(:all).map{|w| [w.name, w.id]}, {:include_blank => "" }) %>
  </p>

  <p>
  <b>Oil vendor</b><br />

  <%= select( "oil_record", "oil_vendor_id", OilVendor.find(:all).map{|w| [w.name, w.id]}, {:include_blank => "" }) %>
  </p>

  <p>
    <%= f.submit sub %>
  </p>
<% end %>
