<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Cartool: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <%= link_to "Gas Records", {:controller => :gas_records, :action => :index } %> |
  <%= link_to "Oil Records", {:controller => :oil_records, :action => :index } %> |
  <%= link_to "Other Records", {:controller => :other_records, :action => :index } %>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

Average Gas Mileage: <%=  number_with_precision((GasRecord.find(:first, :order => 'id DESC').odometer_reading - GasRecord.find(:first).odometer_reading)/(GasRecord.sum('gallons') - GasRecord.find(:first).gallons),2) %>
</body>
</html>
